
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    font-size:16px;
    font-family:'Open Sans';
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;

    --pacific-nw-blue:#016070;

}

body{
    color:#000;
   /* background:linear-gradient(135deg,#016070,#004b58); */
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar{
    width:0.25rem;
}


body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background:orange;
}

main{
    margin-left:5rem;
    height:100vh;
    position: relative;
}

.navbar{
    position:fixed;
    z-index: 10;
    background-color:var(--bg-primary);
    transition: width 200ms ease;
}
.navbar-nav{
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.nav-item{
    width:100%;
}


.nav-link{
    display:flex;
    align-items: center;
    height:5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter:grayscale(100%) opacity(0.7);
    transition:200ms; 
}
.nav-link:hover{
    filter:grayscale(0%) opacity(1);
    background:var(--bg-primary);
    color:var(--text-secondary);
}
.logo{
    text-align: center;
    color:var(--text-secondary);
    background:var(--bg-secondary);
    font-size:1rem;
    text-transform: uppercase;
    width:100%;
    font-weight: bolder;
    letter-spacing:0.3ch;
}
.logo i {
    transform: rotate(0deg);
    transition:transform 200ms ease;
}

.navbar:hover .logo i {

        transform: rotate(-180deg);
        transition:transform 200ms ease;
    
}

.nav-link i{
    min-width:2rem;
    margin:0 1.5rem;
}


.navbar:hover .link-text{
    display:block;
}

.fas{
    color:orange;
}

.far{
    color:orange;
}

.fal{
    color:orange;
}
.home-wallpaper-bg{
    background:url('/img/resiliencemountain.png') no-repeat;
    height:100%;
    background-size: cover;
    background-position: center;
}
.home-wallpaper-bg:before{
    position: absolute;
    content:'';
    height:100%;
    width:100%;
    background:rgba(1,96,112,0.2);
    z-index: 1;
}

.content{
    /*background:rgba(255,255,255,0.4);*/
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content .title h1{
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    font-weight:bolder;
    font-size:10rem;
    letter-spacing:0.3ch;
    color:white;
    margin:0;

    animation: moveInTop 2s ease-in-out;
}

.content .subtitle h2{
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    font-weight:bolder;
    font-size:6rem;
    letter-spacing:0.3ch;
    color:orange;
    margin:0;

    animation: moveInBottom 2s ease-in-out;

}


.main-content{
    min-height: 100vh;
    width: 100%;
    color:var(--text-primary);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    position: relative;
}



.name-container h3{
    font-size: 10rem;
    color: orange;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding:0;
    margin:0;
    line-height: 8rem;
}

.righttop-container{

}
.right-about-container{
    display:grid;
    grid-template-rows: repeat(1,1fr);
}
.rightbottom-container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
.about-me,.creds-container,.about-img-container,.name-container{
    padding:2rem;

}


.about-img-container{
    display:flex;
    justify-content: center;
    align-items: center;
}


.about-img-container h3{
    font-size: 3rem;
    color: orange;
    text-align: center;
    position: absolute;
    top: -70px;
    left:-70px;
    width: 400px;
    text-transform: uppercase;
    font-weight: bolder;
}

.about-img{
    background:url(../img/brady.jpg) no-repeat;
    height:100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-img:before{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    background:rgba(1,96,112,0.2);

}

.about-me-content{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}

.about-me .subtitle{
    -moz-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    transform: skewX(-40deg);
    background:var(--pacific-nw-blue);
    width:80%;
    margin:0 0 2rem 0;
}


.about-me h3{
    padding-left:1rem;
    font-size:3rem;
    text-transform:uppercase;
    display: block;
    color:#fff;
    -moz-transform: skewX(40deg);
    -webkit-transform: skewX(40deg);
    -o-transform: skewX(40deg);
    -ms-transform: skewX(40deg);
    transform: skewX(40deg);
    text-align: center;
}

.about-me h3:before{
    content:"";
    height:4px;
    width: 50px;
    background:#fff;
    transform:translateX(-0%);
    margin:1rem 0;
    display: inline-block;

}
.creds-container  .subtitle{
    -moz-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    transform: skewX(-40deg);
    background:var(--pacific-nw-blue);
    width:80%;
    margin:0 0 2rem 0;
}

.about-me-content{
    width:80%;
    line-height:1.5rem;

}

.creds-container h3{
    padding-left:1rem;
    font-size:3rem;
    text-transform:uppercase;
    display: block;
    color:#fff;
    -moz-transform: skewX(40deg);
    -webkit-transform: skewX(40deg);
    -o-transform: skewX(40deg);
    -ms-transform: skewX(40deg);
    transform: skewX(40deg);
    text-align: center;
}
.creds-container h3:before{
    content:"";
    height:4px;
    width: 50px;
    background:#fff;
    transform:translateX(-0%);
    margin:1rem 0;
    display: inline-block;
}

.creds ul{
    list-style: none;
    display:flex;
    flex-direction: column;
}

.creds ul li{
margin:0.5rem 0;
}

.creds ul li a{
    text-decoration: none;
    color:var(--text-primary);
    transition:color 200ms ease;
    text-transform: uppercase;
    font-weight: bolder;
}


.creds ul li a:hover{
    text-decoration: none;
    color:orange;

}







.services-content{
    min-width:100vh;
}


.main-content-contact{
    min-height: 100vh;
    width: 100%;
    color:var(--text-primary);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    position: relative;
}



.contact-content{
    background: orange;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-content .subtitle{
    background:var(--pacific-nw-blue);
    width:80%;

    -moz-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    transform: skewX(-40deg);
    margin:3rem 0;
}



.contact-content .subtitle h3{

    color:#fff;
    font-size:3rem;
    -moz-transform: skewX(40deg);
    -webkit-transform: skewX(40deg);
    -o-transform: skewX(40deg);
    -ms-transform: skewX(40deg);
    transform: skewX(40deg);
    text-align: center;

}
.contact-form-content{
    width:80%;
    line-height:1.5rem;
}

.social{
    margin-top:3rem;
    width:100%;
}
.contact-content .social ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    list-style: none;
}


.contact-content .social ul li a{
    font-size:1.5rem;
    color:#fff;
    transition:color 200ms ease;
}


.contact-content .social ul li a:hover{

    color:var(--pacific-nw-blue);
}

.main-content-contact form{
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-contact form .textInput{
    margin:0.5rem;
    width:100%;
}





.main-content-location{
height:100vh;
display:grid;
grid-template-columns: repeat(2,1fr);
}


    .main-content-location .right{
        display:grid;
        grid-template-rows: repeat(3,1fr);
        }
         .right .right-top{
            background:url('/img/mnts.jpg') no-repeat;
            background-size:cover;
            position: relative;
            }
            .right .right-top:before{
                content:"";
                position: absolute;
                background:rgba(0,0,0,0.2);
                height:100%;
                width:100%;
                }
                .right .right-middle{

                    background-size:cover;
                    position: relative;
                    }

                    .right .right-middle .middle-top{
                        background:orange;
                        width:80%;
                        -moz-transform: skewX(-40deg);
                        -webkit-transform: skewX(-40deg);
                        -o-transform: skewX(-40deg);
                        -ms-transform: skewX(-40deg);
                        transform: skewX(-40deg);
                        margin:2rem auto;
                    }
                    .right .right-middle .middle-top h3{
                        color:white;
                        font-size:3rem;
                        -moz-transform: skewX(40deg);
                        -webkit-transform: skewX(40deg);
                        -o-transform: skewX(40deg);
                        -ms-transform: skewX(40deg);
                        transform: skewX(40deg);
                        text-align: center;
                        text-transform: uppercase;
                    }
                    .right .right-middle .middle-content  {
                        width:80%;
                        margin:0 auto;
                    }

                    .right .right-middle .middle-content p {
                        margin:3rem 0 ;
                    }

                    .right .right-middle .middle-content ul {
                        list-style: none;
                    }


                    .right .right-middle .middle-content ul li{
                        margin:1rem 0;
                    }

                    .right .right-middle .middle-content ul li address{
                        list-style: none;
                        text-transform: uppercase;
                        
                        font-weight: bolder;
                    }
                    .right .right-middle:before{
                        content:"";
                        position: absolute;
               /*background:rgba(1,96,112,0.4);*/                        
               height:100%;
                        width:100%;
                        }
                        .right .right-bottom{
                            background:url('/img/travel.jpg') no-repeat;
                            background-size:cover;
                            position: relative;
                            }
                            .right .right-bottom:before{
                                content:"";
                                position: absolute;
                                background:rgba(0,0,0,0.2);
                                height:100%;
                                width:100%;
                                }
        



    .main-content-location .left{
        display:grid;
        grid-template-rows: repeat(3,1fr);
    }
                                
    .left .left-title{


    }
    .left .left-title .left-title-top{
        background:var(--pacific-nw-blue);
        width:80%;
        -moz-transform: skewX(-40deg);
        -webkit-transform: skewX(-40deg);
        -o-transform: skewX(-40deg);
        -ms-transform: skewX(-40deg);
        transform: skewX(-40deg);
        margin:2rem auto;
    }
    .left .left-title .left-title-top h3{
        color:white;
        font-size:3rem;
        -moz-transform: skewX(40deg);
        -webkit-transform: skewX(40deg);
        -o-transform: skewX(40deg);
        -ms-transform: skewX(40deg);
        transform: skewX(40deg);
        text-align: center;
        text-transform: uppercase;
    }
    .left .left-content{
        background:url('/img/co.jpg') no-repeat;
        background-size:cover;
        position: relative;
    }

    .left .left-title-content ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }


    .left .left-title-content ul li{
        margin:1rem 0;
        border-bottom:2px solid var(--pacific-nw-blue);
        padding:0.5rem 0;
    }



    .left .left-title-content ul li .day{
        font-weight:bolder;
        padding:0 1.5rem; 
    }

    .left .left-title-content ul li .day{

    }
    .left .left-content:before{
        content:"";
        position: absolute;
        background:rgba(0,0,0,0.2);
        height:100%;
        width:100%;
        }

    .left .left-map{

    }


    #map{
        height:100%;
    }

.services-content{
    height:100vh;
}

.services-content ul{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
}

.services-content ul li{
    padding:3rem;
    list-style: none;
    }

    .services-content ul li .card{
        border: 2px solid var(--text-primary);
        height: 15rem;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        align-content: center;
    
    }
    
    .services-content ul li .card .card-icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-content ul li .card .card-icon-container i{
        font-size:5rem;
    }

    .services-content ul li .card .card-content-container .card-title {
        background:var(--pacific-nw-blue);
        width:80%;
        -moz-transform: skewX(-40deg);
        -webkit-transform: skewX(-40deg);
        -o-transform: skewX(-40deg);
        -ms-transform: skewX(-40deg);
        transform: skewX(-40deg);
        margin:1rem auto;
    }

    .services-content ul li .card .card-content-container .card-title h3{
        color:white;
        font-size:1rem;
        -moz-transform: skewX(40deg);
        -webkit-transform: skewX(40deg);
        -o-transform: skewX(40deg);
        -ms-transform: skewX(40deg);
        transform: skewX(40deg);
        text-align: center;
        text-transform: uppercase;
    }


    input {
        color:white;
        font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border:2px solid var(--pacific-nw-blue);
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        outline:0;
      }
      
      input:focus { border:2px solid var(--pacific-nw-blue); }
      
      textarea {
        height: 300px;
        line-height: 150%;
        width:100%;
        resize:vertical;
        border:2px solid var(--pacific-nw-blue);
      }
      
      input[type="submit"] {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        width: 100%;
        background:orange;
        border-radius:5px;
        border:0;
        cursor:pointer;
        color:white;
        font-size:24px;
        padding-top:10px;
        padding-bottom:10px;
        transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
        margin-top:100px;
      }
      [type="submit"]:hover { background:var(--pacific-nw-blue); }





@keyframes moveInTop{
    0%{
        transform:translateY(-100%);
        opacity:0;
    }
    100%{
        transform:translateY(0%);
        opacity: 1;
    }
}

@keyframes moveInBottom{
    0%{
        transform:translateY(100%);
        opacity: 0;
    }
    100%{
        transform:translateY(0%);
        opacity: 1;
    }
}

/*Small */
@media only screen and (max-width:768px){
    .services-content ul{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-around;
        align-items: center;
    }

    .right .right-middle .middle-top h3 { 
        font-size:1rem;
    }
    .left .left-title .left-title-top h3 {
        font-size:1rem;
    }
    .about-img{
        background:url(../img/brady.jpg) no-repeat;
        height:50vh;
        width:100%;
        background-size: cover;
        background-position: center;
    
        position: relative;
    }


    .about-me h3{
        position: relative;
        font-size:2rem;
        text-transform:uppercase;
        display: block;
        text-align: center;
    }

    .about-img-container h3,.creds-container h3 {
        font-size: 2rem;
        top: -55px;
        left: -80px;

    }

    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
    
    .navbar{
        bottom:0;
        height:5rem;
        width:100vw;
    }
    .logo{
        display:none;
    }
    .navbar-nav{
        flex-direction: row;
        width: 100%;
        background: var(--bg-primary);
    }
    main{
        margin:0;

    }
    .nav-link{
        justify-content: center;
    }
    .navbar-nav:hover .link-text{
        display:none;
        margin-left:1rem;
    }

    .navbar-nav .link-text{
        display:none;
        margin-left:1rem;
    }


    .content .title h1{
        text-align: center;
        text-transform: uppercase;
        font-weight:bolder;
        font-size:3rem;
        letter-spacing:0.3ch;
        color:white;
        margin:0;

        animation: moveInTop 1s ease;
    }
    
    .content .subtitle h2{
        text-align: center;
        text-transform: uppercase;
        font-weight:bolder;
        font-size:2rem;
        letter-spacing:0.3ch;
        color:orange;
        margin:0;

        animation: moveInBottom 1s ease;
    }
    
.name-container h3{
    font-size:3rem;
}



.main-content-contact{
    grid-template-columns: repeat(1,1fr);
}






}


@media only screen and (min-width:768px){
    .navbar{
        top:0;
        width:5rem;
        height:100vh;
    }

    .navbar:hover{
        width:16rem;
    }

    .navbar:hover .link-text{
        display:inline;
        transition:opacity 200ms;
    }
    .link-text{
        display:none;
    }
}




